// extend all the things

.header {
  @extend .m-t-lt-md;
  @extend .m-b-lt-md;
  @extend .m-t-xl;
  @extend .m-b-xl;
}



// the main logo used on the home page
.logo {
  margin-top: 12em;
  @include media-breakpoint-down(sm) {
    margin-top: 6em;
  }
}

.social-list {
  font-size: .7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  li {
    a{
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.slash-after {
  &:after {
    content: '/';
    padding-left: 10px;
  }
}

// Badges

.badge-label {
  @extend .m-b-0;
  @extend .text-center-sm;
}

.badge-title {
  @extend .m-b-0;
  @extend .text-center-sm;
}

.badge {
  width: 100%;
}


.footer {
  color: $white;

  ul {
    list-style: none;
  }
}

.white {
  color: $white;
  &:hover {
    color: #F1F1F1;
  }
}
