// extend all the things

.header {
  @extend .m-t-lt-md;
  @extend .m-b-lt-md;
  @extend .m-t-xl;
  @extend .m-b-xl;
}


.navbar {
  background-color: $white;
  border-bottom: 1px solid #f2f2f2;
  padding: 2rem 1rem;
  .nav-item {
    &.active {
      border-bottom: 3px solid $green;
    }
  }
}

//

.ping-pong-table {
  @include fadeInUp(
    $delay: 3.5s,
    $duration: .5s
  );
}

// Bages
.badge-1 {
    @include zoomIn(
      $delay: 3.25s,
      $duration: .5s
    );
}

.badge-2 {
    @include zoomIn(
      $delay: 4.25s,
      $duration: .5s
    );
}

.badge-3 {
    @include zoomIn(
      $delay: 5.25s,
      $duration: .5s
    );
}

.badge-label {
  @extend .m-b-0;
  @extend .text-center-sm;
}

.badge-title {
  @extend .m-b-0;
  @extend .text-center-sm;
  &--1 {
    @include fadeInLeft(
      $delay: 3.25s
    );
  }
  &--2 {
    @include fadeInLeft(
      $delay: 4.25s
    );
  }
  &--3 {
    @include fadeInLeft(
      $delay: 5.25s
    );
  }
}

.badge {
  width: 100%;
}


.cta-button {
  @include zoomIn(
    $delay: 3.25s,
    $duration: .5s
  );
}







// the main logo used on the home page
.logo {
  margin-top: 12em;
  @include media-breakpoint-down(sm) {
    margin-top: 6em;
  }
}

.social-list {
  font-size: .7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  li {
    a{
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.slash-after {
  &:after {
    content: '/';
    padding-left: 10px;
  }
}



.footer {
  color: $white;

  ul {
    list-style: none;
  }
}

.white {
  color: $white;
  &:hover {
    color: #F1F1F1;
  }
}
