// variables
// Bootstrap overrides must go here


// Colors
$white:                   #fff;
$dark:                    #646766;
$darker:                  #383B3A;
$border:                  #E0E0E0;
$border-light:            #e5e5e5;
$green:                   #5CB882;


$selection-color:         #ebebff;
$instantclick-bar-color:  $green;



$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1000px
);

$grid-columns:               12;
$container-max-widths: (
  xl: 1024px
);


$link-color:                 $dark;
$link-hover-color:           darken($link-color, 15%);
$link-hover-decoration:      none;

$font-family-sans-serif:     'Montserrat', sans-serif;
$font-family-base:           $font-family-sans-serif;
