extends _layouts/primary

block content
  
  nav.navbar.navbar-light
    .container
        a.navbar-brand(href='#')
          img.badge(src="images/pipo-logo.svg")
        .pull-right
          ul.nav.navbar-nav
            li.nav-item.active
              a.nav-link(href='#') About
            li.nav-item
              a.nav-link(href='#') Code
            li.nav-item
              a.nav-link(href='#') Login


  section.bg-white-gradient
    .container
      .row.text-center
        h1 You don't have to slack on your teams security
        p PGP Client Side encrypted multi party chat made easy
        button.btn.btn-secondary Try it out
        img(src="images/table.svg" width="100%")
    .row.border-top-grey.m-x-5.p-y-lg.m-t-lg.bg-transparent
      .container.p-x-0
        .col-xs-4
          .row
            .col-lg-4
              img.badge(src="images/lock.svg")
            .col-lg-8
              p.badge-label Say Anything
              p.badge-title Secure your teams  channels using the best cryptography
        
        .col-xs-4
          .row
            .col-lg-4
              img.badge(src="images/chain.svg")
            .col-lg-8
              p.badge-label Secure Development
              p.badge-title Share private keys and sensative business information

        .col-xs-4
          .row
            .col-lg-4
              img.badge(src="images/group.svg")
            .col-lg-8
              p.badge-label Security Breaches
              p.badge-title Leverage the PGP to eliminate man in the middle attacks
    
    section.bg-green
      .container
        .row
          .col-lg-
